.dashboard {
  &-container {
    width: 100%;
    background-color: #ffffff;
    .searchTitle {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 10px;

      .el-input {
        width: auto;
      }

      .el-input, .el-select {
        margin-top: 10px;
        margin-left: 10px;
        border: 1px solid #DDDDDD;
      }

      .search-btn {
        margin-top: 10px;
        margin-left: 10px;
        height: 40px;
        padding: 0 50px;
      }
    }

    .goods-form{
      padding: 10px 10px;
      box-sizing: border-box;
      .goods-handle{
        margin-bottom: 20px;
      }
      .el-table{
        /deep/{
          .el-table__row{
            min-height: 0px;
            transition: min-height 2s ease;
            -moz-transition: min-height 2s ease; /* Firefox 4 */
            -webkit-transition: min-height 2s ease; /* Safari 和 Chrome */
            -o-transition: min-height 2s ease; /* Opera */
          }
        }
      }

    }
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
