@import "~@/commonScss/variables.scss";
.memberDay{
  width: 100%;
  background-color: #ffffff;
  .show-table{
    height: calc(100vh - 164px);
    .searchTitle {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 10px;

      .el-input {
        width: auto;
      }

      .el-input, .el-select, .el-date-editor {
        margin-top: 10px;
        margin-left: 10px;
      }

      .search-btn {
        margin-top: 10px;
        margin-left: 10px;
        height: 30px;
        padding: 0 50px;
      }
    }
    .rulesForm{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 60px);
      padding: 10px 10px;
      box-sizing: border-box;
      .rules-handle {
        margin-bottom: 20px;

        /deep/ {
          .el-button {
            width: 92px;
            background-color: transparent;
            border-radius: 2px;
            border: 1px solid $border;
            color: $menuActiveText;
            box-sizing: border-box;

            &:hover {
              border-color: $menuActiveText;
              background-color: $menuActiveText;
              color: #ffffff;
            }
          }
        }
      }
      .el-table{
        /deep/{
          .el-table__body-wrapper{
            height: calc(100% - 48px);
          }
        }
      }
      .convenientHandle {
        margin-top: 20px;
        .handle {
          /deep/ {
            &.el-button {
              width: 92px;
              background-color: transparent;
              border-radius: 2px;
              border: 1px solid $border;
              color: $menuActiveText;
              box-sizing: border-box;

              &:hover {
                border-color: $menuActiveText;
                background-color: $menuActiveText;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1410px){
  .memberDay .search-btn{
    height: 30px;
  }
}
