//@import '../common/css/profile.scss';
$dark_gray:#889aa4;
$cursor: #fff;
$bg:#2d3a4b;
.login {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../../assets/bg.png") no-repeat center center;
  //background-color: $bg;
  background-size: cover;
  h1{
    padding-top: 20px;
  }

  .el-form{
    padding-top: 25px;
  }
  .el-form-item {
    margin-bottom: 25px;
    &.active{
      .el-form-item__content{
        border: 1px solid #4486FF;
      }
    }
    .el-form-item__content{
      width: 100%;
      height: 32px;
      box-sizing: border-box;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      position: relative;
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      /deep/{
        .el-input{
          display: inline-block;
        }
      }
    }

    //background: rgba(0, 0, 0, 0.1);
    .svg-container {
      float: left;
      width: 9%;
      display: inline-block;
      padding: 0px 10px;
      height: 100%;
      box-sizing: border-box;
      vertical-align: middle;
      &.active{
        color: #4486FF;
      }

      .tag {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    .el-input {
      float: left;
      display: inline-block;
      width: 89%;
      height: 100%;
      font-size: 16px;
      color: #3F4457;
      vertical-align: middle;
      input{
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 0 0;
      }
      //-webkit-box-shadow: 0 0 0px 1000px white inset;
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #BABABA;
      }
      input:-moz-placeholder, textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #BABABA;
      }
      input::-moz-placeholder, textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #BABABA;
      }
      input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #BABABA;
      }
    }
    .svg-eye{
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      width: 11.67%;
      height: 18px;
      line-height: 18px;
      padding: 0 10px;
      box-sizing: border-box;
      .tag {
        height: 100%;
        background: none;
      }
    }
  }

  .imgCode{
    border: none;
    margin-bottom: 0;
    .el-form-item__content{
      border:none;
      padding: 0;
    }
    .codeCheck{
      width: 50%;
      display: flex;
      height: 40px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #DDDDDD;
      &.active{
        border: 1px solid #4486FF;
      }
      .svg-container{
        width: 25%;
      }
      .el-input{
        width: 75%;
      }
    }
    .codeImg{
      width: 35%;
      height: 40px;
      border:1Px solid #dddddd;
      margin-left: 10px;
    }
    .exchangeImg {
      width: 15%;
      margin-left: 10px;
      line-height: 40px;
      color: #4486FF;
    }
  }

  .loginDialog {
    width: 500px;
    padding-bottom: 30px;
    border: 1px solid #E5EBFD;
    box-shadow: 0 0 10px #E5EBFD;
    left: 20.73%;
    top: 50%;
    background-color: #ffffff;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    position: absolute;

    h1 {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
    }

    .loginBox {
      margin: 0 14%;
    }

    .errorTips {
      height: 20px;
      font-size: 12px;
      color: #F65860;
    }

    .choosed {
      margin: 20px 0;
      height: 20px;
      font-size: 12px;
    }

    .loginBtn {
      display: block;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #ffffff;
      border-radius: 4px;
      font-size: 18px;
      background-color: #4486FF;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .thirdparty-button{
    margin: 10px auto;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}
