@import "~@/commonScss/variables.scss";
.activityDetail{
  width: 100%;
  .handle{
    padding: 10px 10px;
    border-bottom: 1px solid $border;
  }
  .orgForm{
    padding: 20px 20px;
    .row{
      display: flex;
      line-height: 30px;
      .columnTitle{
        width: 100px;
        text-align: left;
      }
      .columnContent{
        display: flex;
        width: calc(100% - 100px);
        .types{
          width: 100px;
          text-align: left;
        }
        .details{
          .strip{
            margin-bottom: 10px;
            display: flex;
            //align-items: center;
            &.direction{
              display: block;
            }
            .activityName{
              border: 1px solid $border;
            }
            .description{
              width: 120px;
            }
            .rules-handle {
              margin-bottom: 20px;

              /deep/ {
                .el-button {
                  min-width: 92px;
                  background-color: transparent;
                  border-radius: 2px;
                  border: 1px solid $border;
                  color: $menuActiveText;
                  box-sizing: border-box;

                  &:hover {
                    border-color: $menuActiveText;
                    background-color: $menuActiveText;
                    color: #ffffff;
                  }
                }
              }
            }
            /deep/{
              .el-input-number{
                width: 60px;
                margin: 0 10px;
                border: 1px solid $border;
              }
            }
          }
        }
      }
    }
    .org{
      margin-bottom: 20px;
    }
  }
}
