@import "~@/commonScss/variables.scss";
.registerCard{
  width: 100%;
  .handle{
    padding: 10px 10px;
    border-bottom: 1px solid $border;
  }
  .cardInfo{
    padding: 10px 10px;
    .el-input{
      width: 300px;
      &.noneBorder{
        border: none;
      }
    }
  }

}
